.scroller {
    animation: 12s scroll linear infinite;
}

.scroller2 {
    animation: 12s scroll2 linear infinite;
}

.scroller3 {
    animation: 12s scroll3 linear infinite;
}

.scroller4 {
    animation: 12s scroll4 linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes scroll2 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes scroll3 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll4 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
