@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'UncutSansRegular';
    src: url(fonts/UncutSansRegular.otf);
}

@font-face {
    font-family: 'FredokaOneRegular';
    src: url(fonts/FredokaOneRegular.otf);
}